---
import BaseLayout from "../../../layouts/BaseLayout.astro";
const pageTitle = "Gallery";
---
<BaseLayout pageTitle={pageTitle}>
    <p>This is a placeholder for gallery content.</p>
</BaseLayout>
