---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Tag from '../../components/Tag.astro';
import { getCollection } from "astro:content";

const allPosts = await getCollection("blog");
const allProjects = await getCollection("projects");
const blogTags = allPosts.flatMap((p: any) => p.data.tags ?? []);
const projectTags = allProjects.flatMap((p: any) => p.data.tags ?? []);
const tags = [...new Set([...blogTags, ...projectTags])];
const pageTitle = "Tag Index";
---
<BaseLayout pageTitle={pageTitle}>
  <div class="tags">
    {tags.map((tag) => (
      <Tag tag={tag} size="lg" />
    ))}
  </div>
</BaseLayout>
<style>
  .tags {
    display: flex;
    flex-wrap: wrap;
  }
  .tag-link { text-decoration: none; }

</style>