---
---
<div class="nav-links">
  <a href="/about" data-astro-prefetch>About</a>
  <a href="/projects" data-astro-prefetch>Projects</a>
  <a href="/blog" data-astro-prefetch>Blog</a>
  <a href="/tags" data-astro-prefetch>Tags</a>
  <a href="/others" data-astro-prefetch>Others</a>
</div>