---
import BaseLayout from "../../../layouts/BaseLayout.astro";

const pageTitle = "Music";
---
<BaseLayout pageTitle={pageTitle}>
  <p>What I'm listening to and playlists (coming soon).</p>
</BaseLayout>
    