---
import BaseLayout from "../layouts/BaseLayout.astro";
import DownloadButton from "../components/DownloadButton.astro";
import CalScheduleButton from "../components/CalScheduleButton.astro";



const pageTitle = "About Me";

const identity = {
	firstName: "Michele",
  lastName: "Vannucci",
  city: "Amsterdam",
  occupation: "Student",
  hobbies: ["Making music", "Reading", "Going to the cinema"],
};
const programmingLanguages = [
  "JavaScript",
  "Python",
  "C++",
  "Java",
  "Rust",
];

const programmingColor = "blue";
const happy = true;
---


<BaseLayout pageTitle={pageTitle}>
    <p>I'm currently studying AI at the Vrije Universiteit for my Master's.</p>
    <p>I live in Amsterdam, but I grew up in Milan.</p>
    <p><em>Recently</em> I have been working on my <a href="/projects/master-thesis">Master Thesis</a>.</p>

    <DownloadButton href="/CV_Vannucci_Michele.pdf" filename="CV_Vannucci_Michele.pdf" text="Download My CV" />

    <h2>Contacts</h2>
    Below you can always find different ways to reach me.
    Otherwise, you can also schedule a free 30-minute meeting directly.
    
      <CalScheduleButton text="Schedule a call" link="michele-vannucci-ijafga/30min" ns="30min" layout="month_view" />
</BaseLayout>
