---
import BaseLayout from "../layouts/BaseLayout.astro";
import DownloadButton from "../components/DownloadButton.astro";
import CalScheduleButton from "../components/CalScheduleButton.astro";



const pageTitle = "About Me";

---


<BaseLayout pageTitle={pageTitle}>
    <p>⏱️<em>Recently</em>, I graduated from my Master's in AI with a <a href="/projects/master-thesis">thesis on surprise-minimizing agents</a>.</p>
    <p>Currently, I am writing the pre-print of my thesis and I am organizing a <a href="https://michelexyz.github.io/ai-spring-amsterdam/" target="_blank">reading group</a>.</p>
    <p>
    🔮I am looking for a research position.
    My <strong>research interests</strong> lie in theoretical machine/reinforcement learning. Indeed, I believe that a deeper understanding of the mathematical principles behind these algorithms and their emergent properties is crucial for the development of safe and useful AI.
    </p>

    <p>📍 I live in Amsterdam, but I grew up in Milan.</p>


    <br></br>

    <DownloadButton href="/CV_Vannucci_Michele.pdf" filename="CV_Michele_Vannucci.pdf" text="Download My CV" />

    <h2>Contacts</h2>
    <p>Below you can always find different ways to reach me.
    Otherwise, you can also schedule a free 30-minute meeting directly.</p>
    
      <CalScheduleButton text="Schedule a call" link="michele-vannucci-ijafga/30min" ns="30min" layout="month_view" />
</BaseLayout>
