---
import TestBase from '../layouts/TestBase.astro';
---

<TestBase title="test-About" compact={true}>
  <h2>Test-About</h2>
  <p>
    This page uses the <strong>compact</strong> header variant. Navigating here
    from Home should animate the change (supported browsers) while non-supporting
    browsers just do a normal page load.
  </p>
</TestBase>
