---
import Navigation from '../navigation/Navigation.astro';
import ThemeIcon from './ThemeIcon.astro';

import Hamburger from '../navigation/Hamburger.astro';

---
<header>
  <nav>
    <Hamburger />
    <ThemeIcon />

    <Navigation />
  </nav>
</header>