---
import { getCollection } from "astro:content";
import BaseLayout from "../../../layouts/BaseLayout.astro";
import ProjectPost from "../../../components/ProjectPost.astro";

const links = await getCollection("links");

const pageTitle = "Links";

const topLevel = links.filter(p => !p.slug.includes('/'));

---

<style>
  .link-posts {
    list-style: none;
    padding: 0;
    margin: 0;
  }
</style>

<html lang="en">
  <BaseLayout pageTitle={pageTitle}>
    <p>Here are some of the links I've found useful.</p>
    <ul class="link-posts">
      {topLevel.map((link) => (
        <ProjectPost url={`/others/links/${link.slug}/`} title={link.data.title} />
      ))}
    </ul>
  </BaseLayout>
</html>