---
import Header from '../components/base/Header.astro';
import Footer from '../components/base/Footer.astro';
import '../styles/global.css';
const { pageTitle, headerIntro = null } = Astro.props;


---
<html lang="en">
  <head>
    <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body >
    
    <Header intro={headerIntro} />
    
    <div class="page-header">
      {pageTitle && <h1 class="page-title">{pageTitle}</h1>}
    </div>
    <slot />
    <Footer />
  </body>
</html>
<style>
  .page-header { margin: 1rem 0; min-height: 2.5rem; }
  .page-header .page-title { margin: 0; font-size: 2.5rem; }


  /* Link links inside paragraphs */
  

</style>
