---
import BaseLayout from './BaseLayout.astro';
import Tags from '../components/Tags.astro';
import DateText from '../components/DateText.astro';
const { frontmatter } = Astro.props;


---


<BaseLayout pageTitle={frontmatter.title}>
  <p>Published on: <DateText value={frontmatter.pubDate} /></p>

  <Tags tags={frontmatter.tags} size="sm" />

  <slot />
</BaseLayout>