---
import BaseLayout from './BaseLayout.astro';
import Tags from '../components/Tags.astro';
const { frontmatter } = Astro.props;


---
<style>
  .tags-container {
    margin: 1rem 0;
  }
  
  .tags { display: flex; flex-wrap: wrap; gap: 0.5rem; }
</style>

<BaseLayout pageTitle={frontmatter.title}>
  {frontmatter.author && <p>Written by {frontmatter.author}</p>}
  <p>Published on: {frontmatter.pubDate.toLocaleDateString()}</p>

  <Tags tags={frontmatter.tags} size="sm" />

  <slot />
</BaseLayout>